POSTGRES_PASSWORD=change-me
POSTGRES_DB=synapse
POSTGRES_USER=synapse
SYNAPSE_SERVER_NAME=chat.hospital.example
SYNAPSE_REPORT_STATS=no
SYNAPSE_CONFIG_PATH=/data/homeserver.yaml
TZ=UTC
BACKUP_RETENTION_DAYS=14
MATRIX_RETENTION_DAYS=7
