{
  "defaultHomeserver": 0,
  "homeserverList": [
    "{{ matrix_fqdn }}"
  ],
  "allowCustomHomeservers": false,
  "appName": "{{ matrix_instance_name }}",
  "landingText": "{{ cinny_landing_text | default(matrix_instance_name) }}",
  "hashRouter": {
    "enabled": true,
    "basename": "/"
  }{% if cinny_custom_logo_path is defined and cinny_custom_logo_path | string | length > 0 %},
  "appLogo": "/custom/logo.png"{% endif %}{% if cinny_custom_background_path is defined and cinny_custom_background_path | string | length > 0 %},
  "background": "/custom/background.png"{% endif %}
}
