{
  "defaultHomeserver": 0,
  "homeserverList": [
    "{{ matrix_fqdn }}"
  ],
  "allowCustomHomeservers": false,
  "hashRouter": {
    "enabled": true,
    "basename": "{{ '/' if matrix_web_default_client_normalized == 'cinny' else matrix_web_secondary_path_normalized }}"
  }
}
