# Managed by Ansible
user  nginx;
worker_processes  auto;

events { worker_connections  1024; }

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;
  access_log    /dev/stdout;
  error_log     /dev/stderr warn;
  sendfile        on;
  keepalive_timeout  65;
  resolver 127.0.0.11 valid=10s ipv6=off;
  resolver_timeout 5s;

  server {
    listen 80;
    server_name _;

    client_max_body_size 50m;

    location /_matrix {
      set $synapse_upstream http://synapse:8008;
      proxy_pass $synapse_upstream;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /_synapse/admin {
      set $synapse_upstream http://synapse:8008;
      proxy_pass $synapse_upstream;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }

    location = /admin {
      return 301 /admin/;
    }

    location /admin/ {
      set $synapse_admin_upstream http://synapse-admin:80;
      rewrite ^/admin/(.*)$ /$1 break;
      proxy_pass $synapse_admin_upstream;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-Prefix /admin;
    }

    location / {
      set $cinny_upstream http://cinny:80;
      proxy_pass $cinny_upstream;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
    }
  }
}
